{{> head }}
	{{> navbar }}

<div class="row">

	<div class="col-8">
		<h1>Snoopy Home</h1>
	</div>
	<p>hbs has the ability to expose the application and request locals within any context inside a view. To enable this functionality, simply call the localsAsTemplateData method and pass in your Express application instance.</p>

	<div class="col-4">
		<img src="/assets/img/snoopy_home.png" class="img-thumbnail">
	</div>

</div>

{{> footer }}
